<app-header></app-header>
<app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col-md-9 bg-warning">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <aside>
            <h4>Escribe tus comentarios en nuestras redes sociales</h4>
            <a href="https://www.facebook.com" target="_blank"><img src="assets/img/facebook.png" alt="facebook" width="20px"></a>
		    <a href="https://www.youtube.com" target="_blank"><img src="assets/img/youtube.png" alt="youtube" width="20px"></a>
		    <a href="https://www.linkedin.com" target="_blank"><img src="assets/img/linkedin.png" alt="linkedin" width="20px"></a>
		    <a href="https://www.instagram.com" target="_blank"><img src="assets/img/instagram.png" alt="instagram" width="20px"></a>
        </aside>
    </div>
<app-footer></app-footer>
