<section style="justify-content: center;">
  <h4>Seccion Principal</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
    mollitia quasi optio est quae eligendi ducimus deleniti sunt inventore vero.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit eaque,
    explicabo nostrum id deleniti facilis delectus velit optio reiciendis sed
    assumenda dolores illo tempore. Accusamus dolor soluta rem nostrum
    laboriosam.
  </p>
</section>
